.ColorMatrixTools {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ColorMatrixTools > button {
    border: 0;
    border-radius: 99px;
    background-color: var(--brand-color-l-lower);
    font-size: 1em;
    padding: .25em 0;
}

.MatrixSizeRange {
    display: flex;
    gap: 5px;

    background-color: var(--brand-color-l-high);
    border-radius: 99px;
    padding: 5px 10px;
}

.MatrixSizeRange > div {
    flex: 0 0 auto;
    width: 2ch;

    font-size: 1.25em;
    font-weight: 600;

    display: grid;
    place-items: center;
}

.MatrixSizeRange > input {
    width: 100%;
}

.PaintToolsRadio {
    --PaintToolsRadio-border-radius: 6px;

    width: 100%;

    display: flex;
}

.PaintToolsRadio > label > input {
    display: none;
}

.PaintToolsRadio > label { 
    flex: 1 1 33%;
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.PaintToolsRadio > label:first-child > span {
    border-top-left-radius: var(--PaintToolsRadio-border-radius);
    border-bottom-left-radius: var(--PaintToolsRadio-border-radius);
}

.PaintToolsRadio > label:last-child > span {
    border-top-right-radius: var(--PaintToolsRadio-border-radius);
    border-bottom-right-radius: var(--PaintToolsRadio-border-radius);
}

.PaintToolsRadio > label > span {
    flex: 1 1 auto;

    font-size: 1em;
    padding: .25em;
    text-align: center;

    background-color: var(--brand-color-l-lower);
}

.PaintToolsRadio > label > input:checked + span {
    background-color: var(--brand-color-l-base);
}
