.ColorPaletteSelectionDropdown {
	margin-bottom: 5px;

	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 5px;

	font-size: 1em;
}

.ColorPaletteSelectionDropdown > select {
	background: transparent;
	border: 0;
	color: var(--brand-color-l-highest);

	font-size: 0.9em;
	padding-left: 0.25em;
}
