.App {
	width: 95vw;
	height: 95vh;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	gap: 10px;
}

.App__tools {
	position: relative;
	padding: 10px;

	display: flex;
	flex-wrap: wrap;

	column-gap: 10px;
	border-radius: 1em;

	background-color: var(--brand-color-l-lowest);
}

.App__tools > button {
	position: absolute;
	bottom: 10px;
	right: 10px;

	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0 0.25em 0.2em 0.25em;

	color: white;
	background-color: transparent;
	border: 2px solid currentColor;
	outline: 0;
}

.App__tools > button:focus {
	outline: 1px solid currentColor;
	outline-offset: 2px;
}

.App__ColorMatrixTools {
	margin-bottom: auto;
	margin-top: 0;
}
