.ColorMatrixSizeRange {
	display: flex;
	gap: 5px;

	background-color: var(--brand-color-l-high);
	border-radius: 99px;
	padding: 5px 10px;
}

.ColorMatrixSizeRange > div {
	flex: 0 0 auto;
	width: 2ch;

	font-size: 1.25em;
	font-weight: 600;

	display: grid;
	place-items: center;
}

.ColorMatrixSizeRange > input {
	width: 100%;
}
