.ColorMatrixTools {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ColorMatrixTools > button {
	border: 0;
	border-radius: 99px;
	background-color: var(--brand-color-l-lower);
	font-size: 1em;
	padding: 0.25em 0;
}
