.App {
	width: 95vw;
	height: 95vh;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	gap: 10px;

	.App__tools {
		position: relative;

		padding: 10px;

		display: flex;
		flex-direction: column;

		gap: 10px;
		border-radius: 1em;

		background-color: var(--brand-color-l-lowest);

		.App-tools__save-image {
			position: initial;
			bottom: initial;
			right: initial;
			margin-left: auto;

			@media screen and (min-width: 570px) {
				position: absolute;
				bottom: 10px;
				right: 10px;
			}
		}

		@media screen and (min-width: 570px) {
			flex-direction: row;
		}
	}
}
